
.iafi {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.iafi.iafi-ad { background-image: url('../states/AD.svg'); }
.iafi.iafi-ae { background-image: url('../states/AE.svg'); }
.iafi.iafi-af_old { background-image: url('../states/AF-OLD.svg'); }
.iafi.iafi-af { background-image: url('../states/AF.svg'); }
.iafi.iafi-ag { background-image: url('../states/AG.svg'); }
.iafi.iafi-ai { background-image: url('../states/AI.svg'); }
.iafi.iafi-al { background-image: url('../states/AL.svg'); }
.iafi.iafi-am { background-image: url('../states/AM.svg'); }
.iafi.iafi-an { background-image: url('../states/AN.svg'); }
.iafi.iafi-antarctica { background-image: url('../states/ANTARCTICA.svg'); }
.iafi.iafi-ao { background-image: url('../states/AO.svg'); }
.iafi.iafi-aq { background-image: url('../states/AQ.svg'); }
.iafi.iafi-ar { background-image: url('../states/AR.svg'); }
.iafi.iafi-as { background-image: url('../states/AS.svg'); }
.iafi.iafi-at { background-image: url('../states/AT.svg'); }
.iafi.iafi-au { background-image: url('../states/AU.svg'); }
.iafi.iafi-aw { background-image: url('../states/AW.svg'); }
.iafi.iafi-ax { background-image: url('../states/AX.svg'); }
.iafi.iafi-az { background-image: url('../states/AZ.svg'); }
.iafi.iafi-ba { background-image: url('../states/BA.svg'); }
.iafi.iafi-bb { background-image: url('../states/BB.svg'); }
.iafi.iafi-bd { background-image: url('../states/BD.svg'); }
.iafi.iafi-be { background-image: url('../states/BE.svg'); }
.iafi.iafi-bf { background-image: url('../states/BF.svg'); }
.iafi.iafi-bg { background-image: url('../states/BG.svg'); }
.iafi.iafi-bh { background-image: url('../states/BH.svg'); }
.iafi.iafi-bi { background-image: url('../states/BI.svg'); }
.iafi.iafi-bj { background-image: url('../states/BJ.svg'); }
.iafi.iafi-bl { background-image: url('../states/BL.svg'); }
.iafi.iafi-bm { background-image: url('../states/BM.svg'); }
.iafi.iafi-bn { background-image: url('../states/BN.svg'); }
.iafi.iafi-bo { background-image: url('../states/BO.svg'); }
.iafi.iafi-bq { background-image: url('../states/BQ.svg'); }
.iafi.iafi-br { background-image: url('../states/BR.svg'); }
.iafi.iafi-bs { background-image: url('../states/BS.svg'); }
.iafi.iafi-bt { background-image: url('../states/BT.svg'); }
.iafi.iafi-bv { background-image: url('../states/BV.svg'); }
.iafi.iafi-bw { background-image: url('../states/BW.svg'); }
.iafi.iafi-by { background-image: url('../states/BY.svg'); }
.iafi.iafi-bz { background-image: url('../states/BZ.svg'); }
.iafi.iafi-ca { background-image: url('../states/CA.svg'); }
.iafi.iafi-cc { background-image: url('../states/CC.svg'); }
.iafi.iafi-cd { background-image: url('../states/CD.svg'); }
.iafi.iafi-cf { background-image: url('../states/CF.svg'); }
.iafi.iafi-cg { background-image: url('../states/CG.svg'); }
.iafi.iafi-ch { background-image: url('../states/CH.svg'); }
.iafi.iafi-ci { background-image: url('../states/CI.svg'); }
.iafi.iafi-ck { background-image: url('../states/CK.svg'); }
.iafi.iafi-cl { background-image: url('../states/CL.svg'); }
.iafi.iafi-cm { background-image: url('../states/CM.svg'); }
.iafi.iafi-cn { background-image: url('../states/CN.svg'); }
.iafi.iafi-co { background-image: url('../states/CO.svg'); }
.iafi.iafi-cr { background-image: url('../states/CR.svg'); }
.iafi.iafi-ctr { background-image: url('../states/CTR.svg'); }
.iafi.iafi-cu { background-image: url('../states/CU.svg'); }
.iafi.iafi-cv { background-image: url('../states/CV.svg'); }
.iafi.iafi-cw { background-image: url('../states/CW.svg'); }
.iafi.iafi-cx { background-image: url('../states/CX.svg'); }
.iafi.iafi-cy { background-image: url('../states/CY.svg'); }
.iafi.iafi-cz { background-image: url('../states/CZ.svg'); }
.iafi.iafi-de { background-image: url('../states/DE.svg'); }
.iafi.iafi-dj { background-image: url('../states/DJ.svg'); }
.iafi.iafi-dk { background-image: url('../states/DK.svg'); }
.iafi.iafi-dm { background-image: url('../states/DM.svg'); }
.iafi.iafi-do { background-image: url('../states/DO.svg'); }
.iafi.iafi-dz { background-image: url('../states/DZ.svg'); }
.iafi.iafi-earth { background-image: url('../states/EARTH.svg'); }
.iafi.iafi-ec { background-image: url('../states/EC.svg'); }
.iafi.iafi-ee { background-image: url('../states/EE.svg'); }
.iafi.iafi-eg { background-image: url('../states/EG.svg'); }
.iafi.iafi-eh { background-image: url('../states/EH.svg'); }
.iafi.iafi-er { background-image: url('../states/ER.svg'); }
.iafi.iafi-es { background-image: url('../states/ES.svg'); }
.iafi.iafi-et { background-image: url('../states/ET.svg'); }
.iafi.iafi-eu_2 { background-image: url('../states/EU-2.svg'); }
.iafi.iafi-eu_3 { background-image: url('../states/EU-3.svg'); }
.iafi.iafi-eu { background-image: url('../states/EU.svg'); }
.iafi.iafi-fi { background-image: url('../states/FI.svg'); }
.iafi.iafi-fj { background-image: url('../states/FJ.svg'); }
.iafi.iafi-fk { background-image: url('../states/FK.svg'); }
.iafi.iafi-fm { background-image: url('../states/FM.svg'); }
.iafi.iafi-fo { background-image: url('../states/FO.svg'); }
.iafi.iafi-fr { background-image: url('../states/FR.svg'); }
.iafi.iafi-ga { background-image: url('../states/GA.svg'); }
.iafi.iafi-gb { background-image: url('../states/GB.svg'); }
.iafi.iafi-gd { background-image: url('../states/GD.svg'); }
.iafi.iafi-ge { background-image: url('../states/GE.svg'); }
.iafi.iafi-gf { background-image: url('../states/GF.svg'); }
.iafi.iafi-gg { background-image: url('../states/GG.svg'); }
.iafi.iafi-gh { background-image: url('../states/GH.svg'); }
.iafi.iafi-gi { background-image: url('../states/GI.svg'); }
.iafi.iafi-gl { background-image: url('../states/GL.svg'); }
.iafi.iafi-gm { background-image: url('../states/GM.svg'); }
.iafi.iafi-gn { background-image: url('../states/GN.svg'); }
.iafi.iafi-gp { background-image: url('../states/GP.svg'); }
.iafi.iafi-gq { background-image: url('../states/GQ.svg'); }
.iafi.iafi-gr { background-image: url('../states/GR.svg'); }
.iafi.iafi-gs { background-image: url('../states/GS.svg'); }
.iafi.iafi-gt { background-image: url('../states/GT.svg'); }
.iafi.iafi-gu { background-image: url('../states/GU.svg'); }
.iafi.iafi-gw { background-image: url('../states/GW.svg'); }
.iafi.iafi-gy { background-image: url('../states/GY.svg'); }
.iafi.iafi-hk { background-image: url('../states/HK.svg'); }
.iafi.iafi-hm { background-image: url('../states/HM.svg'); }
.iafi.iafi-hn { background-image: url('../states/HN.svg'); }
.iafi.iafi-hr { background-image: url('../states/HR.svg'); }
.iafi.iafi-ht { background-image: url('../states/HT.svg'); }
.iafi.iafi-hu { background-image: url('../states/HU.svg'); }
.iafi.iafi-id { background-image: url('../states/ID.svg'); }
.iafi.iafi-ie { background-image: url('../states/IE.svg'); }
.iafi.iafi-il { background-image: url('../states/IL.svg'); }
.iafi.iafi-im { background-image: url('../states/IM.svg'); }
.iafi.iafi-in { background-image: url('../states/IN.svg'); }
.iafi.iafi-io { background-image: url('../states/IO.svg'); }
.iafi.iafi-iq { background-image: url('../states/IQ.svg'); }
.iafi.iafi-ir { background-image: url('../states/IR.svg'); }
.iafi.iafi-is { background-image: url('../states/IS.svg'); }
.iafi.iafi-it { background-image: url('../states/IT.svg'); }
.iafi.iafi-je { background-image: url('../states/JE.svg'); }
.iafi.iafi-jm { background-image: url('../states/JM.svg'); }
.iafi.iafi-jo { background-image: url('../states/JO.svg'); }
.iafi.iafi-jp { background-image: url('../states/JP.svg'); }
.iafi.iafi-ke { background-image: url('../states/KE.svg'); }
.iafi.iafi-kg { background-image: url('../states/KG.svg'); }
.iafi.iafi-kh { background-image: url('../states/KH.svg'); }
.iafi.iafi-ki { background-image: url('../states/KI.svg'); }
.iafi.iafi-km { background-image: url('../states/KM.svg'); }
.iafi.iafi-kn { background-image: url('../states/KN.svg'); }
.iafi.iafi-kp { background-image: url('../states/KP.svg'); }
.iafi.iafi-kr_extra { background-image: url('../states/KR-EXTRA.svg'); }
.iafi.iafi-kr { background-image: url('../states/KR.svg'); }
.iafi.iafi-krd { background-image: url('../states/KRD.svg'); }
.iafi.iafi-kw { background-image: url('../states/KW.svg'); }
.iafi.iafi-ky { background-image: url('../states/KY.svg'); }
.iafi.iafi-kz { background-image: url('../states/KZ.svg'); }
.iafi.iafi-la { background-image: url('../states/LA.svg'); }
.iafi.iafi-lb { background-image: url('../states/LB.svg'); }
.iafi.iafi-lc { background-image: url('../states/LC.svg'); }
.iafi.iafi-li { background-image: url('../states/LI.svg'); }
.iafi.iafi-lk { background-image: url('../states/LK.svg'); }
.iafi.iafi-lr { background-image: url('../states/LR.svg'); }
.iafi.iafi-ls { background-image: url('../states/LS.svg'); }
.iafi.iafi-lt { background-image: url('../states/LT.svg'); }
.iafi.iafi-lu { background-image: url('../states/LU.svg'); }
.iafi.iafi-lv { background-image: url('../states/LV.svg'); }
.iafi.iafi-ly { background-image: url('../states/LY.svg'); }
.iafi.iafi-ma { background-image: url('../states/MA.svg'); }
.iafi.iafi-mc { background-image: url('../states/MC.svg'); }
.iafi.iafi-md { background-image: url('../states/MD.svg'); }
.iafi.iafi-me { background-image: url('../states/ME.svg'); }
.iafi.iafi-mf { background-image: url('../states/MF.svg'); }
.iafi.iafi-mg { background-image: url('../states/MG.svg'); }
.iafi.iafi-mh { background-image: url('../states/MH.svg'); }
.iafi.iafi-mk { background-image: url('../states/MK.svg'); }
.iafi.iafi-ml { background-image: url('../states/ML.svg'); }
.iafi.iafi-mm { background-image: url('../states/MM.svg'); }
.iafi.iafi-mn { background-image: url('../states/MN.svg'); }
.iafi.iafi-mo { background-image: url('../states/MO.svg'); }
.iafi.iafi-mp { background-image: url('../states/MP.svg'); }
.iafi.iafi-mq { background-image: url('../states/MQ.svg'); }
.iafi.iafi-mr { background-image: url('../states/MR.svg'); }
.iafi.iafi-ms { background-image: url('../states/MS.svg'); }
.iafi.iafi-mt { background-image: url('../states/MT.svg'); }
.iafi.iafi-mu { background-image: url('../states/MU.svg'); }
.iafi.iafi-mv { background-image: url('../states/MV.svg'); }
.iafi.iafi-mw { background-image: url('../states/MW.svg'); }
.iafi.iafi-mx { background-image: url('../states/MX.svg'); }
.iafi.iafi-my { background-image: url('../states/MY.svg'); }
.iafi.iafi-mz { background-image: url('../states/MZ.svg'); }
.iafi.iafi-na { background-image: url('../states/NA.svg'); }
.iafi.iafi-nato_1 { background-image: url('../states/NATO-1.svg'); }
.iafi.iafi-nato { background-image: url('../states/NATO.svg'); }
.iafi.iafi-nc { background-image: url('../states/NC.svg'); }
.iafi.iafi-ne { background-image: url('../states/NE.svg'); }
.iafi.iafi-nf { background-image: url('../states/NF.svg'); }
.iafi.iafi-ng { background-image: url('../states/NG.svg'); }
.iafi.iafi-ni { background-image: url('../states/NI.svg'); }
.iafi.iafi-nkr { background-image: url('../states/NKR.svg'); }
.iafi.iafi-nl { background-image: url('../states/NL.svg'); }
.iafi.iafi-no { background-image: url('../states/NO.svg'); }
.iafi.iafi-np { background-image: url('../states/NP.svg'); }
.iafi.iafi-nr { background-image: url('../states/NR.svg'); }
.iafi.iafi-nu { background-image: url('../states/NU.svg'); }
.iafi.iafi-nz { background-image: url('../states/NZ.svg'); }
.iafi.iafi-om { background-image: url('../states/OM.svg'); }
.iafi.iafi-pa { background-image: url('../states/PA.svg'); }
.iafi.iafi-pe { background-image: url('../states/PE.svg'); }
.iafi.iafi-pf { background-image: url('../states/PF.svg'); }
.iafi.iafi-pg { background-image: url('../states/PG.svg'); }
.iafi.iafi-ph { background-image: url('../states/PH.svg'); }
.iafi.iafi-pk { background-image: url('../states/PK.svg'); }
.iafi.iafi-pl { background-image: url('../states/PL.svg'); }
.iafi.iafi-pm { background-image: url('../states/PM.svg'); }
.iafi.iafi-pmr { background-image: url('../states/PMR.svg'); }
.iafi.iafi-pn { background-image: url('../states/PN.svg'); }
.iafi.iafi-pr { background-image: url('../states/PR.svg'); }
.iafi.iafi-ps { background-image: url('../states/PS.svg'); }
.iafi.iafi-pt { background-image: url('../states/PT.svg'); }
.iafi.iafi-pw { background-image: url('../states/PW.svg'); }
.iafi.iafi-py { background-image: url('../states/PY.svg'); }
.iafi.iafi-qa { background-image: url('../states/QA.svg'); }
.iafi.iafi-re { background-image: url('../states/RE.svg'); }
.iafi.iafi-ro { background-image: url('../states/RO.svg'); }
.iafi.iafi-rs { background-image: url('../states/RS.svg'); }
.iafi.iafi-ru { background-image: url('../states/RU.svg'); }
.iafi.iafi-rw { background-image: url('../states/RW.svg'); }
.iafi.iafi-sa { background-image: url('../states/SA.svg'); }
.iafi.iafi-sb { background-image: url('../states/SB.svg'); }
.iafi.iafi-sc { background-image: url('../states/SC.svg'); }
.iafi.iafi-sd { background-image: url('../states/SD.svg'); }
.iafi.iafi-se { background-image: url('../states/SE.svg'); }
.iafi.iafi-sg { background-image: url('../states/SG.svg'); }
.iafi.iafi-sh { background-image: url('../states/SH.svg'); }
.iafi.iafi-si { background-image: url('../states/SI.svg'); }
.iafi.iafi-sj { background-image: url('../states/SJ.svg'); }
.iafi.iafi-sk { background-image: url('../states/SK.svg'); }
.iafi.iafi-sl { background-image: url('../states/SL.svg'); }
.iafi.iafi-sm { background-image: url('../states/SM.svg'); }
.iafi.iafi-sn { background-image: url('../states/SN.svg'); }
.iafi.iafi-so { background-image: url('../states/SO.svg'); }
.iafi.iafi-sr { background-image: url('../states/SR.svg'); }
.iafi.iafi-ss { background-image: url('../states/SS.svg'); }
.iafi.iafi-st { background-image: url('../states/ST.svg'); }
.iafi.iafi-sv { background-image: url('../states/SV.svg'); }
.iafi.iafi-sx { background-image: url('../states/SX.svg'); }
.iafi.iafi-sy { background-image: url('../states/SY.svg'); }
.iafi.iafi-sz { background-image: url('../states/SZ.svg'); }
.iafi.iafi-tc { background-image: url('../states/TC.svg'); }
.iafi.iafi-td { background-image: url('../states/TD.svg'); }
.iafi.iafi-tf { background-image: url('../states/TF.svg'); }
.iafi.iafi-tg { background-image: url('../states/TG.svg'); }
.iafi.iafi-th { background-image: url('../states/TH.svg'); }
.iafi.iafi-tj { background-image: url('../states/TJ.svg'); }
.iafi.iafi-tk { background-image: url('../states/TK.svg'); }
.iafi.iafi-tl { background-image: url('../states/TL.svg'); }
.iafi.iafi-tm { background-image: url('../states/TM.svg'); }
.iafi.iafi-tn { background-image: url('../states/TN.svg'); }
.iafi.iafi-to { background-image: url('../states/TO.svg'); }
.iafi.iafi-tr { background-image: url('../states/TR.svg'); }
.iafi.iafi-tt { background-image: url('../states/TT.svg'); }
.iafi.iafi-tv { background-image: url('../states/TV.svg'); }
.iafi.iafi-tw { background-image: url('../states/TW.svg'); }
.iafi.iafi-tz { background-image: url('../states/TZ.svg'); }
.iafi.iafi-ua { background-image: url('../states/UA.svg'); }
.iafi.iafi-ug { background-image: url('../states/UG.svg'); }
.iafi.iafi-uk { background-image: url('../states/UK.svg'); }
.iafi.iafi-um { background-image: url('../states/UM.svg'); }
.iafi.iafi-un { background-image: url('../states/UN.svg'); }
.iafi.iafi-unknown { background-image: url('../states/UNKNOWN.svg'); }
.iafi.iafi-us { background-image: url('../states/US.svg'); }
.iafi.iafi-uy { background-image: url('../states/UY.svg'); }
.iafi.iafi-uz { background-image: url('../states/UZ.svg'); }
.iafi.iafi-va { background-image: url('../states/VA.svg'); }
.iafi.iafi-vc { background-image: url('../states/VC.svg'); }
.iafi.iafi-ve { background-image: url('../states/VE.svg'); }
.iafi.iafi-vg { background-image: url('../states/VG.svg'); }
.iafi.iafi-vi { background-image: url('../states/VI.svg'); }
.iafi.iafi-vn { background-image: url('../states/VN.svg'); }
.iafi.iafi-vu { background-image: url('../states/VU.svg'); }
.iafi.iafi-wf { background-image: url('../states/WF.svg'); }
.iafi.iafi-ws { background-image: url('../states/WS.svg'); }
.iafi.iafi-xk { background-image: url('../states/XK.svg'); }
.iafi.iafi-ye { background-image: url('../states/YE.svg'); }
.iafi.iafi-yt { background-image: url('../states/YT.svg'); }
.iafi.iafi-za { background-image: url('../states/ZA.svg'); }
.iafi.iafi-zm { background-image: url('../states/ZM.svg'); }
.iafi.iafi-zw { background-image: url('../states/ZW.svg'); }